.background-logo {
  background-image: url("/big-fourviere.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right -20px;
  background-size: auto 90%;
}

/* Hack the monaco editor to make it transparent */
.monaco-editor-background {
  background-color: transparent;
}
