---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="title"
      content="fourviere.io, opensource RSS feed editor with open podcasting in mind"
    />
    <meta
      name="description"
      content="The RSS feed editor designed for podcasters who dare to break free from the confines of centralized platforms."
    />
    <meta
      name="keywords"
      content="podcast, podcasting 2.0, rss, feed, s3, ftp, podcast index, itunes."
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="brainrepo" />
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
