[package]
name = "fourviere-podcast"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
anyhow = "1.0"
lzma-rs = "0.3.0"
md5 = "0.7.0"
reqwest = { version = "0.12", features = ["blocking"] }
sevenz-rust = "0.6.0"
sha2 = "0.10.8"
tauri-build = { version = "1.5", features = [] }
tar = "0.4.40"
tempfile = "3.10.1"
zip-extract = "0.1.3"

[dependencies]
anyhow = "1.0.82"
derive-new = "0.6.0"
function_name = "0.3.0"
get_chunk = { version = "1.2.1", features = ["size_format", "stream"] }
getset = "0.1.2"
humantime-serde = "1.1.1"
kalosm-sound = { git = "https://github.com/floneum/floneum"}
kalosm-vision = { git = "https://github.com/floneum/floneum"}
log = "0.4.21"
mime_guess = "2.0.4"
reqwest = { version = "0.12", features = ["json"] }
rust-s3 = "0.33.0"
serde = { version = "1.0", features = ["derive"] }
serde-aux = "4.5.0"
serde_json = "1.0"
serde_with = "3.7.0"
suppaftp = { version = "5.3.1", features = ["async-native-tls"] }
tauri = { version = "1.5", features = [ "updater", "shell-sidecar", "dialog-all", "path-all", "fs-all", "shell-open", "process-command-api"] }
tauri-plugin-channel = { git = "https://github.com/fourviere/tauri-plugin-channel", branch = "v0.1.x" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tempfile = "3.10.1"
thiserror = "1.0.58"
tokio = { version = "1", features = ["fs", "macros"] }
tokio-util = {version = "0.7.10", features = ["compat"] }
uuid = {version = "1.7.0", features = ["v4", "fast-rng"] }

[dev-dependencies]
async-trait = "0.1.79"
hyper = { version = "0.14.28", features = ["http1", "http2", "server", "stream", "runtime"] }
libunftp = "0.19.1"
rss = "2.0.7"
s3s = "0.9.0"
s3s-fs = "0.9.0"
tokio = { version = "1", features = ["full"] }
unftp-sbe-fs = "0.2.4"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
mkl = ["kalosm-sound/mkl", "kalosm-vision/mkl"]
metal = ["kalosm-sound/metal", "kalosm-vision/metal"]
cuda = ["kalosm-sound/cuda", "kalosm-vision/cublas"]