<div id="mc_embed_shell" class="px-6 lg:px-12 max-w-[600px]">
  <p class="text-2xl text-slate-800 mb-3">
    Do you want to gain early access to our alpha version? <span
      class="font-semibold">Subscribe to the waiting list.</span
    >
  </p>

  <div id="mc_embed_signup !px-0">
    <form
      action="https://gmail.us14.list-manage.com/subscribe/post?u=2bb8ddfd24d1812ba1e8d194d&id=a9b6e2db2f&f_id=009a99e5f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
    >
      <div id="mc_embed_signup_scroll m-0 p-0 ">
        <div class="mc-field-group p-0 m-0">
          <label
            for="mce-EMAIL"
            class="text-xs uppercase text-slate-500 font-semibold ml-2"
            >Email Address <span class="asterisk">*</span></label
          ><input
            type="email"
            name="EMAIL"
            class="required email focus:shadow-outline w-full appearance-none rounded-lg bg-slate-100 px-3 py-2 leading-tight focus:outline-none text-sm
    !border-0"
            id="mce-EMAIL"
            required=""
            placeholder="myemail@podcast.com"
            value=""
          /><span id="mce-EMAIL-HELPERTEXT" class="helper_text !text-xs"></span>
        </div>
        <div id="mce-responses" class="clear foot !text-xs">
          <div
            class="response !text-xs"
            id="mce-error-response"
            style="display: none;"
          >
          </div>
          <div
            class="response !text-xs"
            id="mce-success-response"
            style="display: none;"
          >
          </div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input
            type="text"
            name="b_2bb8ddfd24d1812ba1e8d194d_a9b6e2db2f"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button bg-slate-800 text-xs text-white rounded-lg px-3 py-2 !mx-0 leading-tight focus:outline-none text-sm !border-0 hover:bg-slate-900 focus:shadow-outline"
              value="Subscribe"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <script
    type="text/javascript"
    src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
  ></script><script type="text/javascript">
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = "EMAIL";
      ftypes[0] = "email";
    })(jQuery);
    var $mcj = jQuery.noConflict(true);
  </script>
</div>
